{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
    <div class="product_details_menu padding_site">
        {% include 'mainapp/include/inc_main_menu.html' %}
    </div>
{% endblock %}
{% block content %}
    <div class="product_information_menu">
        {% include 'mainapp/include/inc_submenu.html' %}
    </div>
    <div class="trending padding_site">
        <div class="hading_trending">
            <h2 class="trending_h2">Category: {{category.name|title}}</h2>
            <div class="paginator">
                {% if products.has_previous %}
                    <a href="{% url 'products:page' category.pk products.previous_page_number %}">
                        <
                    </a>
                {% endif %}
                <span class="current">
                    page {{ products.number }} from {{ products.paginator.num_pages }}
                </span>
                {% if products.has_next %}
                    <a href="{% url 'products:page' category.pk products.next_page_number %}">
                        >
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="tab_content">
            {% for item in products %}
                <div class="trending_product" style="background-image: url(/media/{{ item.image }})">
                    <div class="product_content">
                        <a href="{% url 'products:product' item.pk %}" class="button btn_circle"><i class="fas fa-chevron-right chevron-circle"></i></a>
                        <h2 class="product_name">{{ item.name }}</h2>
                        <p class="text_reg text_product">{{ item.short_desc }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
